# PyCharm setting
.idea

# dataset
dataset/labels
dataset/infrared
dataset/visible

# ignore everything in runs
runs/*

# but keep README.md and extract_metrics.py
!runs/README.md
!runs/extract_metrics.py
